In [2]:

import numpy as np
import cv2
import mediapipe as mp
import time

mp_drawing = mp.solutions.drawing_utils
hand = mp.solutions.hands
mp_hands = mp.solutions.hands.Hands()

cap=cv2.VideoCapture(0)
skip = 0
A = []
while True:
    ret,image=cap.read()
    if ret==False :
        break
    rows, cols, _ = image.shape
    if skip % 5 == 0:
        image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)
        image.flags.writeable = False
        results = mp_hands.process(image)
        image.flags.writeable = True
        
        if results.multi_hand_landmarks:
            for hand_landmarks in results.multi_hand_landmarks:
                swap = []
                x = [ int(landmark.x * cols) for landmark in hand_landmarks.landmark]
                y = [ int(landmark.y * rows) for landmark in hand_landmarks.landmark]
                swap.extend(x)
                swap.extend(y)
                A.append(swap)
                mp_drawing.draw_landmarks( image, hand_landmarks,hand.HAND_CONNECTIONS)
        image = cv2.cvtColor(image, cv2.COLOR_RGB2BGR)
    skip = skip + 1
    
    
    

    cv2.imshow('MediaPipe Hands', image)
    if cv2.waitKey(1) & 0xFF == ord("q"):
        break
cap.release()
cv2.destroyAllWindows()

In [3]:
len(A)

42

In [4]:
import pandas as pd

In [5]:
A = pd.DataFrame(A)

In [6]:
A.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,229,328,424,494,545,366,389,380,370,300,...,243,252,203,141,240,255,220,178,245,264
1,219,323,412,483,530,356,378,379,368,294,...,200,257,201,114,204,260,226,157,212,256
2,216,311,396,465,517,348,374,388,384,294,...,155,215,214,114,164,221,229,157,183,223
3,209,303,391,457,509,344,366,383,392,290,...,85,125,208,111,101,135,228,161,145,160
4,213,304,393,461,511,349,390,410,426,297,...,60,20,205,121,76,40,219,154,113,76

In [7]:
A['output']='A'

In [8]:
A.head()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,output
0,229,328,424,494,545,366,389,380,370,300,...,252,203,141,240,255,220,178,245,264,A
1,219,323,412,483,530,356,378,379,368,294,...,257,201,114,204,260,226,157,212,256,A
2,216,311,396,465,517,348,374,388,384,294,...,215,214,114,164,221,229,157,183,223,A
3,209,303,391,457,509,344,366,383,392,290,...,125,208,111,101,135,228,161,145,160,A
4,213,304,393,461,511,349,390,410,426,297,...,20,205,121,76,40,219,154,113,76,A

In [10]:
import numpy as np
import cv2
import mediapipe as mp
import time

mp_drawing = mp.solutions.drawing_utils
hand = mp.solutions.hands
mp_hands = mp.solutions.hands.Hands()

cap=cv2.VideoCapture(0)
skip = 0
F = []
while True:
    ret,image=cap.read()
    if ret==False :
        break
    rows, cols, _ = image.shape
    if skip % 5 == 0:
        image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)
        image.flags.writeable = False
        results = mp_hands.process(image)
        image.flags.writeable = True
        
        if results.multi_hand_landmarks:
            for hand_landmarks in results.multi_hand_landmarks:
                
                swap = []
                x = [ int(landmark.x * cols) for landmark in hand_landmarks.landmark]
                y = [ int(landmark.y * rows) for landmark in hand_landmarks.landmark]
                swap.extend(x)
                swap.extend(y)
                F.append(swap)
                mp_drawing.draw_landmarks( image, hand_landmarks,hand.HAND_CONNECTIONS)
        image = cv2.cvtColor(image, cv2.COLOR_RGB2BGR)
    skip = skip + 1
    
    
    

    cv2.imshow('MediaPipe Hands', image)
    if cv2.waitKey(1) & 0xFF == ord("q"):
        break
cap.release()
cv2.destroyAllWindows()

In [11]:
len(F)

47

In [12]:
F = pd.DataFrame(F)

In [13]:
F['output']='F'

In [14]:
final_output = pd.concat((A,F),axis=0)

In [15]:
final_output.tail()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,output
42,283,337,389,425,431,364,397,414,420,337,...,241,344,290,258,233,352,306,273,245,F
43,282,338,392,429,432,364,397,413,419,337,...,241,345,291,257,231,353,307,275,246,F
44,284,338,391,428,431,364,395,412,418,337,...,242,345,292,259,234,354,308,276,247,F
45,283,338,393,429,431,365,397,414,420,337,...,243,345,291,258,233,354,307,276,247,F
46,286,340,392,430,434,365,398,414,419,337,...,245,347,293,260,235,356,310,277,247,F

In [16]:
final_output.reset_index(drop=True,inplace=True)

In [17]:
final_output.tail()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,output
84,283,337,389,425,431,364,397,414,420,337,...,241,344,290,258,233,352,306,273,245,F
85,282,338,392,429,432,364,397,413,419,337,...,241,345,291,257,231,353,307,275,246,F
86,284,338,391,428,431,364,395,412,418,337,...,242,345,292,259,234,354,308,276,247,F
87,283,338,393,429,431,365,397,414,420,337,...,243,345,291,258,233,354,307,276,247,F
88,286,340,392,430,434,365,398,414,419,337,...,245,347,293,260,235,356,310,277,247,F

In [18]:
final_output.to_csv("dataset.csv",index=False)

In [19]:
import os
print(os.getcwd())

c:\Users\Ahmed Ismail\AppData\Local\Programs\Microsoft VS Code